body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(16, 16, 34);
    color: #ffffff;
    display: block;
    unicode-bidi: isolate;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img{
    border-radius:30%;
    margin-top:10px;
}
#title{ 
    color: rgb(255, 255, 255);  
    text-align: center;
    font-size: 32px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    max-width: 480px;
    margin-bottom: 3px;
    padding: 10px 0px;
}
fieldset{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#cash{
    width:10rem;
    height: 1.5rem;
    margin:10px;
}
#purchase-btn{
    width: 6rem;
    height: 2rem;
    background-color: rgb(249, 215, 47);
}
.top-register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    margin-top:20px;
}
.number{
    background-color: #000000;
    height: 50px;
    width: 200px;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 10px solid #99c9ff;
}
.neck{
    background-color: #99c9ff;
    width:3.4em;
    height: 50px;
    margin:0 60px 0 0;
}
.storage{
    display: flex;
    justify-content: space-around;
    border-radius: 35px 35px 0 0;
    padding-top: 20px;
    background-color: #99c9ff;
    height: 270px;
    width: 325px;
}
.black-btn{
    border-radius: 10%;
    border: none;
    width: 20px;
    height: 20px;
    background-color: black;
}
.button-panel{
    width:25%;
    display:grid;
    height:80px;
    grid-template-columns: auto auto auto
}
.list{
    font-size: 1.1rem;
    background-color: white;
    width: 98%;
    height: 95%;
    color: black;
    padding: 10px;
    text-wrap: nowrap;
}
.bottom-register{
    margin-top: 10px;
    background-color: #99c9ff;
    width: 20em;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount{
    background-color: #99c9ff;
    width:10em;
    height: 40px;
    margin:0 100px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hole{
    background-color: black;
    width:20px;
    height:20px;
    margin:auto;
    border-radius: 50%;
}